* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-seif;
}

nav {
  padding: 2rem 6rem;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: 300;
}

nav a:hover {
  color: #f34949;
}

nav li {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
}

.logo {
  width: 100px;
  margin: 0 40px;
}

.logo img {
  width: 90%;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.hero-bg {
  margin: 40px 0;
}

.hero-bg .cta-heading {
  margin-top: 60px;
  margin-bottom: 40px;
}

.hero-bg .cta-heading h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 3.48rem;
}

.hero-bg .cta-actions > * {
  margin-right: 30px;
}

@media screen and (max-width: 768px) {
  .hero-bg .cta-actions > * {
    display: block;
    margin-top: 1rem;
  }
}

.hero-bg .cta-grid {
  margin-top: 60px;
}

.hero-bg .cta-grid > div {
  padding: 1rem 0.5rem;
  text-align: center;
}

.hero-bg .cta-grid > div:not(:nth-child(3)) {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.hero-bg .cta-grid h4 {
  font-family: "Josefin Sans", sans-serif;
}

.hero-right .image-slider img {
  width: 80%;
  margin-left: 50px;
}

.primary-btn {
  background: #f34949;
  color: #fff;
  padding: 9px 25px;
  border-radius: 2rem;
  border: none;
  font-weight: normal;
  transition: all 0.4s;
  font-size: 14px;
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
}

.primary-btn:hover {
  background-color: #E22104;
}

.light-link {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
  line-height: 21px;
}

.light-link:hover {
  color: #E22104;
  text-decoration: none;
}

.welcome-area {
  padding: 5rem 0;
  justify-content: space-between;
}

.welcome-area > div {
  padding: 1rem 3rem;
}

.welcome-area .col-lg-5 img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 140%;
}

.welcome-text p {
  margin-top: 2rem;
  line-height: 24px;
  font-size: 16px;
  font-weight: 100;
}

.welcome-text h5 {
  color: #f34949;
}

.welcome-text h3 {
  font-family: "Josefin Sans", sans-serif;
}

.special-recipe {
  margin-top: 3rem;
}

.special-recipe h3 {
  font-family: "Josefin Sans", sans-serif;
}

.special-recipe .row {
  justify-content: space-between;
}

.special-recipe .row .col-3 img {
  width: 135%;
}

.special-recipe .row a {
  transition: all 0.4s;
  color: #f34949;
  text-decoration: none;
}

.special-recipe .row a > h6 {
  margin-top: 10px;
  line-height: 19px;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

.special-recipe .row a:hover {
  color: #E22104;
}

.special-dishes {
  background: #f7f8f9;
  margin: 10rem 0;
  padding: 4rem 0;
}

.special-dishes .row {
  justify-content: space-between;
}

.special-dishes header,
.menu header,
.team-area header {
  text-align: center;
  padding: 0 6rem;
}

.special-dishes header h6,
.menu header h6,
.team-area header h6 {
  color: #f34949;
  font-weight: 200;
}

.special-dishes header h2,
.menu header h2,
.team-area header h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.dishes {
  padding: 4rem 2rem;
}

.dishes .number {
  margin-bottom: 2rem;
}

.dishes .number h1 {
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  position: relative;
}

@media screen and (max-width: 768px) {
  .dishes .number h1 {
    font-size: 30px;
  }
  .dishes .number h1::before {
    display: none;
  }
}

.dishes .number h1:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 90px;
  height: 1px;
  width: 200px;
  background: #000;
}

.dishes .text {
  padding-left: 90px;
}

@media screen and (max-width: 768px) {
  .dishes .text {
    padding-left: 0;
  }
}

.dishes .text .dish-name {
  margin-bottom: 2rem;
}

.dishes .text .dish-name h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
}

.dishes .text .dish-name h2:nth-child(1) {
  color: #f34949;
}

.dishes .text .dish-description p {
  line-height: 24px;
  padding-bottom: 1rem;
}

.dishes .text .dish-description .dish-price h3 {
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
}

@media screen and (max-width: 768px) {
  .dishes .text .dish-description .dish-price + button {
    margin: 1rem 0;
  }
}

.col-5.steak-img img {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
}

@media screen and (max-width: 768px) {
  .dishes.row:nth-child(3) .col-lg-5:nth-child(1) {
    order: 1;
  }
}

.menu {
  margin: 10rem 0;
}

.menu .breakfast-items {
  margin: 1rem 2rem 0 0;
}

.menu .breakfast-items .heading {
  text-align: center;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .menu .breakfast-items .heading {
    margin: 2rem 0;
  }
}

.menu .breakfast-items .heading h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.menu .breakfast {
  border-bottom: 1px dashed #cccccc;
  padding-bottom: 1rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu .breakfast img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}

@media screen and (max-width: 768px) {
  .menu .breakfast {
    text-align: center;
  }
}

.menu .breakfast-description {
  width: calc(100% - 95px);
  padding-left: 1rem;
}

.menu .breakfast-description h4 {
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}

.team-area {
  padding: 10rem 0;
}

.team-area .team.row {
  justify-content: space-between;
}

.team-area .team.row .col-lg-4 {
  position: relative;
}

.team-area .team.row .col-lg-4:hover .team-description {
  height: 120px;
}

.team-area .team.row .col-lg-4 .team-description {
  padding: 1rem 0;
  transition: all 0.4s;
  width: calc(100% - 50px);
  position: absolute;
  bottom: 15px;
  text-align: center;
  left: 50%;
  height: 90px;
  transform: translate(-50%, -15px);
  background: #fff;
}

@media screen and (max-width: 768px) {
  .team-area .team-card {
    margin: 2rem 0;
    text-align: center;
  }
}

.team-area .team-card img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .team-area .team-card img {
    width: 60%;
  }
}

.contact-area {
  background: url("../../images/reservation-bg.jpg") no-repeat;
  padding-bottom: 10rem;
}

@media screen and (max-width: 768px) {
  .contact-area {
    padding: 3rem;
  }
}

.contact-area .contact {
  margin-top: 4rem;
  background: #fff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .contact-area .contact {
    padding: 3rem;
  }
}

.contact-area .contact h6 {
  color: #f34949;
}

.contact-area .contact h2 {
  font-family: "Josefin Sans", sans-serif;
}

.contact-area .contact .form-group {
  margin: 1rem 0;
}

footer {
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 4rem;
  }
}

footer img {
  width: 50%;
  margin-bottom: 1rem;
}

footer a {
  color: #f34949;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: #F4EDE5;
  padding: 1rem;
}

main {
  background: #fff;
}
/*# sourceMappingURL=styles.css.map */