.primary-btn {
  background: $red-light-color;
  color: #fff;
  padding: 9px 25px;
  border-radius: 2rem;
  border: none;
  font-weight: normal;
  transition: all 0.4s;
  font-size: 14px;
  box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);

  &:hover {
    background-color: $red-color;
    $border-color: $red-color;
  }
}

.light-link {
  text-decoration: none;
  color: #000;
  transition: all 0.4s;
  line-height: 21px;

  &:hover {
    color: $red-color;
    text-decoration: none;
  }
}
