* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-seif;
  // border: 2px solid #ff3600 !important;
}

// media-queries
@import 'tablet';

@import "config";
@import "nav";
@import "hero";
@import "buttons";
@import "welcome-area";
@import "special_dishes";
@import "menu";
@import "team-area";
@import "contact-area";
@import 'footer';
@import 'slider';

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: $background-color;
  padding: 1rem;
}

main {
  background: #fff;
}
