* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-seif;
  // border: 2px solid #ff3600 !important;
}

@import "config";
@import "nav";
@import "hero";
@import "buttons";
@import "welcome-area";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

body {
  background-color: $background-color;
  padding: 1rem;
}

main {
  padding: 2rem 4rem;
  background: #fff;
}
